@media (max-width: 1200px) {
    .xl-hidden {
        display: none;
    }
}
@media (max-width: 991px) {
    .title {
        font-size: 29px;
    }
    .benefits {
        &__item {
            width: 226px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .consultation {
        min-height: 640px;
        padding: 90px 0 95px 0;
    }
}
@media (max-width: 767px) {
    .button {
        width: 100%;
        height: 25px;
        font-size: 11px;
        &_main {
            width: 256px;
            height: 50px;
            font-size: 15px;
        }
        &_submit {
            width: 100%;
            height: 50px;
            font-size: 15px;
        }
    }    
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 80px;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .benefits {
        &__item {
            width: 300px;
        }
        &__wrapper {
            margin-top: 50px;
            height: 780px;
            flex-direction: column;
        }
        &__subtitle {
            font-size: 20px;
            margin-top: 17px;
        }
        &__descr {
            margin-top: 5px;
            font-size: 15px;
            line-height: 20px;
        }
    }
    .title {
        &_left {
            line-height: 39px;
            font-size: 25px;
        }
    }
    .consultation {
        min-height: 600px;
        &__descr {
            line-height: 20px;
            font-size: 17px;
            margin-top: 18px;
        }
    }
}
@media (max-width: 575px) {
    .button {
        &_main {
            width: 205px;
            font-size: 12px;
        }
    }
    .header {
        &__logo {
            width: 157px;
        }
        &__phone {
            font-size: 13px;
        }
        
    }
    .promo {
        padding-bottom: 70px;
        min-height: 595px;
        &__header {
            font-size: 24px;
            line-height: 25px;
        }
        &__subheader {
            margin-top: 5px;
            font-size: 13px;
            line-height: 15px;
        }
        &__icons {
            width: 290px;
            align-items: center;
        }
        &__icon {
            font-size: 11px;
            width: 86px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .title {
        font-size: 24px;
        &_left {
            font-size: 20px;
            line-height: 31px;
        }
    }
    
    .consultation {
        padding: 70px 0 85px 0;
        min-height: 580px;
    }
    .feed-form {
        width: 285px;
    }
    .xs-hidden {
        display: none;
    }
    
}