@import 'base/variables';

* {
    font-family: 'Museo Sans', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/buttons.scss';