.button {
    width: 150px;
    height: 30px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}