.carousel {
    padding: 81px 0 60px;
    &__wrapper {
        padding: 50px;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        border: none;
        background-color: #fff;
        cursor: pointer;
        img {
            width: 31px;
            height: 50px;
        }
        &:focus {
            border: 0;
            outline: none;
        }
    }
    .next {
        right: 0;
        left: auto;
    }
    .tns-item {
        
        img {
            width: 90%;
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        button {
            display: block;
            width: 150px;
            height: 10px;
            border-radius: 5px;
            border: none;
            & + button {
                margin-left: 10px;
            }
        }
        .tns-nav-active {
            background-color: $main-color;
            &:focus {
                outline: none;
            }
        }
    }
}