.carousel {
    padding: 81px 0;
    &__inner {
        width: 70%;
        margin: 0 auto;
        position: relative;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns-item {
        
        img {
            width: 90%;
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: flex;
        justify-content: center;
        button {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: none;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
        .tns-nav-active {
            background-color: blue;
        }
    }
}