.consultation {
    min-height: 680px;
    background: url(../img/bg2.jpg) center center / cover no-repeat;
    padding: 103px 0 108px 0;
    
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 8px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        text-align: center;
        color: white;
        margin-bottom: 15px;
        border: none;
    }
}