.feedback {
    padding-bottom: 50px;
    &__wrapper {
        display: grid;
        max-width: 915px;
        min-height: 920px;
        padding-right: 25px;
        // flex-direction: column;
        // justify-content: space-between;
        margin-top: 60px;
        margin-left: 15px;
        // grid-template-rows: repeat(3, minmax(220px, 300px));
        row-gap: 30px;
        grid-auto-rows: auto;
    }
    &-item {
        &__wrapper {
            display: grid;
            grid-template-columns: 170px auto;
            grid-column-gap: 50px;
        }
        &__text {
            display: block;
            max-width: 662px;
        }
        &__header {
            font-weight: 700;
            font-size: 18px;
            line-height: 18px;
            color: #0D0D0D;
        }
        &__subheader {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__descr {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
            margin-top: 10px;
            padding-right: 16px;
        }
        &__img {
            width: 169px;
            height: 169px;
        }
    }
}