.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background-color: #F2F2F2;
    padding: 38px 40px 40px 40px;
    &__close {
        position: absolute;
        top: 0;
        right: -31px;
        color: $main-color;
        font-size: 41px;
        line-height: 21px;
    }
    &__subheader {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        text-align: center;
    }
    &__descr {
        font-weight: 700;
        font-size: 14px;
        color: #0D0D0D;
        text-align: center;
    }
    &_mini {
        min-height: 140px;
    }
}

#consultation, #order {
    display: none;
}